body {
    font-family: 'Krub', arial, sans-serif;
    font-size: 16px;
}

div.main-body {
    display: grid;
    grid-template-columns: minmax(180px, auto) 1fr 1fr;
    grid-template-areas: "navbar header header"
                        "navbar maincontent maincontent";
    grid-gap: 20px;
}

nav#navbar {
    grid-area: navbar;
    position: fixed;

}

nav#navbar a {
    display: block;
    border: 1px black solid;
    padding: 2px;
    border-radius: 3px;
    margin: 10px 0px;
    color: black;
    width: 175px;
}

#main-h1 {
    grid-area: header;
}
main#main-doc {
    grid-area: maincontent;
}

.section-header {
    font-size: 1.5rem;
    font-weight: bold;
}

#nav-header {
    font-size: 1.5rem;
    max-width: 170px;
    
}

.nav-link {
    font-size: 1.4rem;
    text-decoration: none;
        
}




@media screen and (max-width: 600px) {
    div.main-body {
        grid-template-columns: 1fr;
        grid-template-areas:    "header" 
                                "navbar" 
                                "maincontent";
    }
    
    nav#navbar {
        position: inherit;
        
    }

    nav#navbar a {
        text-align: center;
        border: 1px black solid;
        padding: 2px;
        border-radius: 3px;
        margin: 10px 0px;
        color: black;
        width: 100vw;
    }

    #nav-header {
        max-width: 100vw;
    }

}